In [18]:
#Import pandas library

import pandas as pd

In [19]:
#Read the dataset from csv file

data_all = pd.read_csv('Boston.csv')

In [20]:
# Have a glance at the shape
# Print first five rows of the data

data_all

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273,21.0,396.90,7.88,11.9

In [21]:
# Set up the dependent (labels) and the independent (features) variables
 
X_features = pd.DataFrame(data_all.iloc[:,:-1])
y_labels = pd.DataFrame(data_all.iloc[:,-1])

In [22]:
# Have a glance at the independent variable

X_features

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33
...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,9.67
502,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273,21.0,396.90,7.88

In [23]:
# Have a glance at the dependent variable

y_labels

     medv
0    24.0
1    21.6
2    34.7
3    33.4
4    36.2
..    ...
501  22.4
502  20.6
503  23.9
504  22.0
505  11.9

[506 rows x 1 columns]

In [24]:
# Split the data into train and test sets

from sklearn.model_selection import train_test_split

# 60% for training set, 40% for test set 
X_train, X_test, y_train, y_test = train_test_split(X_features, y_labels, test_size= 0.4, random_state=1)


# Data for test set will be divided into two. 20% for test set and 20% for validation set
# X_val, X_test, y_val, y_test = train_test_split(X_test, y_test, test_size=0.5, random_state=1)


# To print out the all data percentage. 
data = [y_train, y_test]
data_labels = ["Train: ", "Test: "]


for (data_label, dataset) in zip(data_labels,data):

    print ( (data_label) , round(len(dataset)/len(y_labels), 2))

Train:  0.6
Test:  0.4

In [25]:
 # Have a glance at the shape of the train and test sets:
 
 # Shape of the train,  test and validation sets

print()
print ("X_train:", X_train.shape)
print ("y_train:", y_train.shape)
print ("X_test:", X_test.shape)
print ("y_test:", y_test.shape)
# print ("X_val:", X_val.shape)
# print ("y_val:", y_val.shape)

X_train: (303, 13)
y_train: (303, 1)
X_test: (203, 13)
y_test: (203, 1)

In [26]:
# Train the algorithm

from sklearn.linear_model import LinearRegression

linear_regressor = LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)  # # create object for the class

linear_regressor.fit(X_train, y_train) # perform linear regression

# X_train.head(10)

c:\Users\Mehmet Sahan\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\linear_model\_base.py:148: FutureWarning: 'normalize' was deprecated in version 1.0 and will be removed in 1.2. Please leave the normalize parameter to its default value to silence this warning. The default behavior of this estimator is to not do any normalization. If normalization is needed please use sklearn.preprocessing.StandardScaler instead.
  warnings.warn(

LinearRegression(normalize=False)

In [27]:
# Having a look at the coefficients that the model has chosen:

v = pd.DataFrame(linear_regressor.coef_ , index = ["Co-efficient"]).transpose()
w = pd.DataFrame(X_features.columns, columns=["Attribute"])

In [28]:
# Concatenating the DataFrames to compare:

coeff_df = pd.concat([w, v], axis=1, join='inner')

coeff_df

   Attribute  Co-efficient
0       crim     -0.089571
1         zn      0.067313
2      indus      0.050465
3       chas      2.185796
4        nox    -17.205398
5         rm      3.636070
6        age      0.002056
7        dis     -1.366029
8        rad      0.289577
9        tax     -0.012270
10   ptratio     -0.834882
11     black      0.009404
12     lstat     -0.504008

In [29]:
# Comparing the predicted value to the actual value:

# Predicted value

y_pred = linear_regressor.predict(X_test)
y_pred = pd.DataFrame(y_pred, columns=["Predicted"])

y_pred

     Predicted
0    32.576784
1    28.315840
2    18.024909
3    21.227239
4    18.307063
..         ...
198  34.818083
199  25.369789
200  18.818492
201   2.520984
202  24.888448

[203 rows x 1 columns]

In [31]:
y_test

     medv
307  28.2
343  23.9
47   16.6
67   22.0
362  20.8
..    ...
186  50.0
372  50.0
442  18.4
412  17.9
213  28.1

[203 rows x 1 columns]

In [30]:
# Evaluate algorithm

from sklearn import metrics
import numpy as np

print ('Mean Absolute Error: ', metrics.mean_absolute_error(y_test, y_pred))
print ('Mean Squared Error: ', metrics.mean_squared_error(y_test, y_pred))
print ('Root Mean Squared Error: ', np.sqrt(metrics.mean_absolute_error(y_test, y_pred)))

Mean Absolute Error:  3.469434757128037
Mean Squared Error:  25.20577470236671
Root Mean Squared Error:  1.8626418757045158